<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Dashboard/adminFirst.css" rel="stylesheet" />
</head>
<body>
    <div class="maindiv">
        <div class="Helpdesk">
            <img src="~/Image/UIdesign/Helpdesk.jpg" alt="image" />
            <button class="loginbtn" style=" width: 111px;"><a class="my-link" style="font-size:20px; font-weight:300; font-family:Roboto,sans-serif" href="@Url.Action("Index","Login")">Logout</a></button>
        </div>
        <div class="contentall">
            <div class="sideoption">
                <span><h3 style="font-size:8px">@Html.ActionLink("Dashboard", "ShowAdminDashboard", "Dashboard", new { @class = "my-link" })</h3></span>
                <hr />
                <span><h3><a class="my-link" href="@Url.Action("Showticketstable","Dashboard")">Ticket</a></h3></span>             
                <hr />

            </div>

            <div class="m" style="width:80%; margin-left:2%; margin-top:3%">
                @RenderBody()
            </div>

        </div>
        <footer>
            <h5>HelpDesk</h5>

            <div class="credex">
                <p> 2023 Credex Technology. All Rights Reserved</p>
                <div class="phon">
                    <img src="~/Image/AdminFirstpage/phone.jpg" />
                    <p>+1-408-703-6930</p>
                </div>
                <div class="ema">
                    <img src="~/Image/AdminFirstpage/email.png" />
                    <p>info@credextechnology.com</p>
                </div>
            </div>

        </footer>
    </div>
</body>
</html>