@model Service.Entities.LoginViewModel
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<section class="loginb" style="background-color:White">
    <h1 style="text-align:center;font-size:30px;font-weight:200;font-family:Roboto,sans-serif; margin-top:2%">Welcome HelpDesk, <strong>A Support System</strong></h1>


    <div class="login_box" style=" -webkit-box-shadow: 1px 2px 5px 0px rgba(104, 92, 92, 0.75); -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75); box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);">
        <div class="left" style="width:50%;">
            <div class="top_link"><<a class="my-link" href="@Url.Action("Index","Home")">Back</a></div>
            <div class="contact" style=" width:80%">

                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                 {
                    <h3>LOGIN</h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-groupi" style="display:flex; width:120%; gap:30px;">
                        @Html.LabelFor(m => m.Email , new { style = " width:50px;margin-top:6%;"})
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group" style="display:flex; width:120%; gap:30px;">
                        @Html.LabelFor(m => m.Password , new { style = " width:50px;margin-top:6%; margin-left:-2%;" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <button class="submit btn btn-primary" style="width:100px;margin-left:28%;">Login</button>
                 }


            </div>
        </div>
        <div class="right" style=" width:50%">
            <div class="right-text" style="">
                <h2 style="margin-top:-15%">HelpDesk Management System</h2>
                <h5>HelpDesk Plus is a game changer in turning IT teams from daily fire-fighting to delivering awesome customer service. </h5>
            </div>
        </div>
    </div>
</section>

